<form>
  <div class="mb-3">
    <label for=" " class="form-label text-dark ">Cedula del cliente</label>
    <input type="text" class="form-control" id="" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-dark">Nombre</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-dark">Telefono</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-dark">Direccion</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-dark">Ocupacion</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="disabledSelect" class="form-label text-dark">Tipo de prestamo</label>
    <select id="disabledSelect" class="form-select form-control">
      <option>Seleccionar</option>
      <option>Diario</option>
      <option>Semanal</option>
      <option>Quincenal</option>
      <option>Mensual</option>
    </select>
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-dark">Valor de prestamo</label>
    <input type="text" class="form-control" id="">
  </div>
  <button type="submit" class="btn btn-primary text-white shadow p-3 mb-5 bg-body rounded">Registrar</button>
</form>