<form>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Cedula del cliente</label>
    <input type="text" class="form-control" id="" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Nombre</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Telefono</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Direccion</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Ocupacion</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="disabledSelect" class="form-label text-white">Tipo de prestamo</label>
    <select id="disabledSelect" class="form-select form-control">
      <option>Seleccionar</option>
      <option>Diario</option>
      <option>Semanal</option>
      <option>Quincenal</option>
      <option>Mensual</option>
    </select>
  </div>
  <div class="mb-3">
    <label for=" " class="form-label text-white">Valor de prestamo</label>
    <input type="text" class="form-control" id="">
  </div>
  <button type="submit" class="btn btn-primary text-white">Registrar</button>
</form>