<form>
    <div class="mb-3">
        <label for="" class="form-label text-white">Identificacion</label>
        <input type="text" class="form-control" id="" aria-describedby="">
        <div id="" class="form-text"></div>
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>
<table class="table bg-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Valor Prestamo</th>
            <th scope="col">Tipo de prestamo</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>