<form>
    <div class="mb-3">
        <label for=" " class="form-label text-dark">Efectivo</label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>
      <div class="mb-3">
        <label for=" " class="form-label text-dark">Total deuda</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="mb-3">
        <label for=" " class="form-label text-dark">Total ruta</label>
        <input type="text" class="form-control" id="">
      </div>
      <button type="submit" class="btn btn-primary text-white">Imprimir</button>
</form>